/* This will hold all styles that are specific for the Budget APP*/


/*  --------TOP  START  ------*/

body {
	font-family: Open Sans;
	color: #000;
}

.outline {
	outline: 2px dotted green;
}

.top {
    background-image: url(../Images/back.png);
		background-size: cover;
		background-position: center;
		color: #fff;
}

.budget {
	min-width: 300px;
}
.title {
	font-size: 15px;
  text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;

}

.total {
	font-size: 35px;
  text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.income-show {
	background-color: #28B9B5;
}
.expenses-show {
	background-color: #FF5049;
}

.income-show,
.expenses-show {
	font-size: 15px;
	margin: 3% 1%;
	justify-content: flex-end;
	align-items: center;
	height: 40px;
}

.income-show > p,
.expenses-show > p {
	padding: 0px 10px;
}

.first {
	margin-right: auto;
	text-transform: uppercase;
	color: #000;
}

/*  --------TOP  END  ------*/

/* -------- MIDDLE START ------- */
.middle {
	padding: 10px 0;
  border-bottom: 1px solid #e7e7e7;
  background-color: #f7f7f7;
	justify-content: center;
}



.middle > * {
	border: 1px solid #e7e7e7;
	background-color: #fff;
	height: 40px;
	text-align: left;
	border-radius: 3%;
	margin: 0 5px;
	padding-left: 10px;
	flex-grow: 0;
	flex-shrink: 0;


}

#mydropdown {
	flex-basis: 4%;;
	padding-left: 0;
}

.my-description {
	flex-basis: 35%;
	max-width: 600px;
}

.my-amount {
	flex-basis: 15%;
	max-width: 65px;
}

.add-button {
	background: none;
	border-radius: 0%;
	border: none;
}
.add-button	i {
	font-size: 32px;
	color: #28B9B5;
	cursor: pointer;
}


/* -------- MIDDLE END ------- */
